
          <div class="row zero-marg wanna-help-row">
            <div class="col-xs-12 lt-rt-col-pad wanna-help-container" style="margin-bottom:12px;margin-top:8px;">
              <div class="row zero-marg">
                <div class="col-xs-12 lt-rt-col-pad wanna-help-title">
                  WANT TO HELP?
                </div>
              </div>
              <div class="row zero-marg">
                <div class="col-xs-12 lt-rt-col-pad project-general-text" ng-attr-contenteditable="{{ editMode }}" ng-model="project.help_text">
                </div>                      
              </div>
            </div>
            <div class="col-xs-12 zero-pad wanna-help-container">
              <div ng-show="project.github_url" class="wanna-help-link">
                  <a href="{{project.github_url}}">
                    <img src="/static/images/github02.png" height=70px; width=70px; />
                  </a>
              </div> 
              <div ng-show="project.production_url"class="wanna-help-link">
                  <a href="{{project.production_url}}" >
                    <img src="/static/images/project-play.png" height=70px; width=70px;>
                  </a>
              </div>
            </div>
          </div>
   